.cart{

    width: 500px;
    // height: 80vh; //
    background-color: white;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 10px  #aaaaaa;
    margin: 30px auto;

}

.container{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 6% 6% 6% 6%;
}